<div class="container">
  <table class="table table-bordered display">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Sent Messages</th>
        <th scope="col">Recived Messages</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data">
          <td>{{user.Name}}</td>
          <td>{{user.Email}}</td>
          <td>{{user.Sent}}</td>
          <td>{{user.Received}}</td>
      </tr>

    </tbody>
  </table>

</div>
